<!-- views/partials/footer.ejs -->

 <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Mead Museum. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
