<!-- static page -->
<!DOCTYPE html>
<html lang="en">

<head>
<% include partials/head %>
</head>

<body onhashChange="changePageHash()">

<% include partials/header %>

	<div id="content" class="basic">
		<div class="about">
			<div class="box">
				<h1><%= title %></h1>
				<div class="insetbox">
					<div class="textblock" style="font-size: 1.15em; text-indent: 50px;">
						<p>
							Named for its founder, William Rutherford Mead (an 1867 graduate of Amherst College and a partner in the storied architectural firm of McKim, Mead and White), the Mead holds the art collection of Amherst College, celebrated for its American and European paintings, Mexican ceramics, Tibetan scroll paintings, English paneled room, ancient Assyrian carvings, Russian avant-garde art, West African sculpture, and Japanese prints.
						</p>
						<p>
							With an active program of free exhibitions and events, late-night open hours, and a museum shop-café, the Mead is a must-see attraction in Western Massachusetts. 
						</p>
					</div>
					<img class="img-responsive" alt="Staff of Mead Museum" src="img/meadstaff.jpg" style="margin: 20px auto">
					<div class="textblock" style="text-align: center">
						<p>
							Mead Staff
						</p>
						<p>
							Front: Nicholas Taupier, Rachel Rogol, Pam Russell, Amy Halliday, Keely Sarr 
						</p>
						<p>
							Back: Heath Cummings, Bettina Jungen, Stephen Fisher, Vanja Malloy, Kathy LeBeau, Mila Waldman, Sheila Flaherty-Jones, and Tim Gilfillan
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include partials/footer %>
