<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Mead Art Museum</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="css/mead-museum-main.css" rel="stylesheet">

	<!-- Custom Fonts -->

	<!-- Google font temporary stand in for Trajan Pro -->
	<link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
	<!-- Google font temporary stand in for Myriad Pro -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<!-- Google font for large blocks of text -->
	<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Javascript Functions -->
    <script type="text/javascript"> 
    </script>
</head>

<body>
   <!-- Content -->
   <div id="content" class="intro-header">
      <div class="tourdetail">
         <div class="box">
            <div id="tourname">
               <h1>Tour test</h1>
           </div>
       </div>
   </div>
</div>
</body>
</html>