<!-- views/index.ejs -->

<% include partials/head %>

<% include partials/header %>

    <!-- Content -->
    <div id="content" class="basic">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Mead Art Museum</h1>
                        <h3>Amherst College</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/search" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Search</span></a>
                            </li>
                            <li>
                                <a href="/tours" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Tours</span></a>
                            </li>
                            <li>
                                <a href="/feedback" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Feedback</span></a>
                            </li>
                            <li>
                                <a href="/about" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">About</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

<% include partials/footer %>
