<!-- views/list.ejs -->
<% include partials/head %>

<% include partials/header %>

        <div id="content" class="basic">
	<div id="content">
		<div class="tourdetail">
			<div class="box">
				<div id="tourname">
					<h1>Tour test</h1>
				</div>
				<div class="insetbox">

					<a href="" onclick="return onClickExpandTour();">
						<img class="img-responsive" src="img/icons/text.svg" alt="Expand" style="margin: 20px auto 20px auto; min-width: 40px; max-width: 8%;">
					</a>
					<div class="tourdescription" style='display: none'>
						<div class="textblock" style="text-align: center">
							Description of the tour <!--tour sescription-->
						</div>
					</div>

					<div id="objectslisttour">
						<h3>Tour stops</h3>

						<div class="list-group">

							<% for(var id in objects) { %>
							<a href="#object?id=" + <%= objects[id].id %> + "" class="list-group-item">
								<div class="objecttour">
									<img class="img-responsive" src="" + <%= objects[id].pic %> + "" alt="">
								</div>
								<div id="tourtitle">
									<%= objects[id].title %>
								</div>
							</a>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>



