<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div id="content">
		<div class="tourdetail">
			<div class="box">
				<div id="tourname">
					<h1>Tour test</h1>
				</div>
				<div class="insetbox">

					<a href="" onclick="return onClickExpandTour();">
						<img class="img-responsive" src="img/icons/text.svg" alt="Expand" style="margin: 20px auto 20px auto; min-width: 40px; max-width: 8%;">
					</a>
					<div class="tourdescription" style='display: none'>
						<div class="textblock" style="text-align: center">
							Description of the tour
						</div>
					</div>

					<div id="objectslisttour">
						<h3>Tour stops</h3>

						<div class="list-group">

							<a href="#object?id=test" class="list-group-item">
								<div class="objecttour">
									<img class="img-responsive" src="img/yellowmead.jpg" alt="">
								</div>
								<div id="tourtitle">
									Intro
								</div>
							</a>

							<a href="#object?id=thepoet" class="list-group-item">
								<div class="objecttour">
									<img class="img-responsive" src="img/ThePoet.jpg" alt="">
								</div>
								<div id="tourtitle">
									The Poet
								</div>
							</a>

							<a href="#object?id=test" class="list-group-item">
								<div class="objecttour">
									<img class="img-responsive" src="img/brownmead.jpg" alt="">
								</div>
								<div id="tourtitle">
									Test 1
								</div>
							</a>

							<a href="#object?id=test" class="list-group-item">
								<div class="objecttour">
									<img class="img-responsive" src="img/brownmead.jpg" alt="">
								</div>
								<div id="tourtitle">
									Test 2
								</div>
							</a>

							<a href="#object?id=test" class="list-group-item">
								<div class="objecttour">
									<img class="img-responsive" src="img/brownmead.jpg" alt="">
								</div>
								<div id="tourtitle">
									Test 3
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>